body {

    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #ADD8E6
}

#question {
    width: 50vw;
    font-size: 1.5em;
    margin-bottom: 1em;
}

#options {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.option 
{
    width: 100%;
    margin: 0.5em;
    cursor: pointer;
    font-size: 1.2em;
}

.option:hover {
    background-color: #119ab3;
    color: #ffffff;
    /* add better like box effects */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    
}

#current-score {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    background-color: #119ab3;
    color: #ffffff;
}

#current-question {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    background-color: #119ab3;
    color: #ffffff;
}

#progress-bar-container {
    width: 20%;
    height: 1em;
    background-color: #ADD8E6;
    border: 1px solid #000000;
    position: absolute;
    top: 2em;
    /* i want it in center */
    left: 40%;
    margin-top: 0.5em;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #119ab3;
}

.title {
    color: #0486b9;
}

.play-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #119ab3;
    border: 2px solid #119ab3; /* Add a border */
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Add some shadow for a 3D effect */
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease 0s; /* Smooth transition for hover effect */
}

.play-button:hover {
    background-color: #119ab3;
    color: #ffffff;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); /* Change the shadow color on hover */
}

body {
    text-align: center;
}
h1 {
    color: green;
}
h2 {
    color: blue;
}
a {
    display: block;
    margin: 10px;
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.centered-content {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 40vh; */
}